.SideMenu {
    position: absolute;
    left: 2em;
    top: 10vh;
    height: 80vh;
    border-radius : 5px;
    box-sizing : border-box;
    /* From https://css.glass */
background: rgba(53, 219, 255, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(53, 219, 255, 0.39);
    user-select : none;
    -webkit-user-select : none;
}

.LineDivision {
    border: 1px solid #3A7484;
    width: 98%;
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
}

.MenuImg {
    display: inline-block;
    width: 100%;
    opacity: 0.5;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .1em;
    margin-top: .1em;

}

.MenuImg:hover {
    opacity: 1;
}

.MenuOption {
    width: 7em;
    margin: .15em;
    margin-bottom: 1em;
}

.MenuOptionSelected {
    opacity: 1;
    width: 100%;
}

.MenuImgActive {
    opacity: 1;
    display: inline-block;
    width: 100%;
    user-select: none;
    text-align: center;
    cursor:pointer;
    border-right: '';

    margin:auto;
    src: '';
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .25em;
    margin-top: .25em;
}

.ShuffleOption {
    border-right: '';
    opacity: 1;
    height: 2.5em;
    width: 2.5em;
    padding: .5em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.MenuTitle {
    display: inline-block;
    text-align: center;
    height: 3.5em;
    width: 100%;
    text-align: center;
    margin: 0 auto .25em auto;
    user-select: none;
}
